.music-btn{

position:fixed;

right:25px;

bottom:25px;

width:65px;

height:65px;

border:none;

border-radius:50%;

background:linear-gradient(135deg,#d4af37,#b8860b);

color:white;

font-size:28px;

cursor:pointer;

box-shadow:0 15px 35px rgba(0,0,0,.25);

z-index:999;

transition:.35s;

}

.music-btn:hover{

transform:scale(1.1);

}

@media(max-width:768px){

.music-btn{

width:58px;

height:58px;

font-size:24px;

right:18px;

bottom:18px;

}

}